<div class="edit">
    <span class="edit__title">EDIT ACCOUNT</span>
    {{percentage | async}}
    <div class="edit__container">
      <div class="edit__image-box">
        <img [src]="user.imgUrl" *ngIf="user.imgUrl" alt="Profile picture">
        <input type="file" #uploadBtn (change)="startUpload($event.target.files)" class="d-none">
        <a class="btn btn-sm btn-secondary upload__btn" (click)="uploadBtn.click()">Upload Photo</a>
      </div>
      <div class="edit__data">
        <div class="edit__row">
          <div class="edit__row-left">
            <div class="edit__input-group">
              <input 
                class="edit__input" 
                [(ngModel)]="user.firstName" 
                type="text" 
                id="firstName" 
                name="firstName" 
                required>
              <input 
                class="edit__input" 
                [(ngModel)]="user.lastName"
                type="text" 
                id="lastName" 
                name="lastName" >
            </div>
            <input 
                class="edit__input" 
                [(ngModel)]="user.email" 
                type="email" 
                id="email" 
                name="email" 
                required>
          </div>
          <div class="edit__row-right">
            <span>BIRTHDAY</span>
            <input 
              type="date" 
              id="birthday" 
              [(ngModel)]="user.birthday" 
              name="birthday" 
              class="edit__input" 
              required>
          </div>
        </div>
        <div class="edit__row">
          <div class="edit__row-left">
            <label for="phone">PHONE</label>
            <input 
                class="edit__input" 
                [(ngModel)]="user.phone" 
                type="text" 
                id="phone" 
                name="phone">
          </div>
          <div class="edit__row-right">
            <label for="city">City:</label>
            <select id="city" name="city" [(ngModel)]="user.city" class="edit__input">
              <option value="Jakarta">Jakarta</option>
              <option value="Bandung">Bandung</option>
              <option value="Surabaya">Surabaya</option>
              <option value="Malang">Malang</option>
              <option value="Bali">Bali</option>
              <option value="Makasar">Makasar</option>
            </select>
          </div>
        </div>
        <div class="edit__row">
          <div class="d-flex justify-content-start align-items-baseline">
            <input type="checkbox" [(ngModel)]="user.isAdmin" [disabled]="!(me.isAdmin)" name="admin" id="admin">
            <label for="admin">Administrator</label>
          </div>
        </div>
      </div>
      <div class="edit__action">
        <button class="btn btn-sm btn-secondary" (click)="cancel()">Cancel</button>
        <button [disabled]="!isActive" class="btn btn-sm btn-secondary" (click)="save()">Save</button>
      </div>
    </div>
  </div>