<div class="screen">
    <header class="header">
      <div class="header__container container">
        <div class="header__item-box">
          <span class="logo">logo</span>
        </div>
        <div class="header__item-box" *ngIf="!(router.url=='/login')">
          <a class="signout" *ngIf="(router.url=='/register')" (click)="login()">Login</a>
          <a class="signout" *ngIf="!(router.url=='/register')" (click)="logout()">Logout</a>
        </div>
      </div>
    </header>
    <main class="main container">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      Created by @kusnandartoni for savioryFse
    </footer>
</div>
