.detail {
    margin-top: 5rem;
    @media only screen and (max-width: 575.98px) {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__container {
        margin-top: 3rem;
        display: flex;
        border: 1px solid #666666;
        
        @media only screen and (max-width: 575.98px) {
            flex-direction: column;
        }
    }
    
    .initial-box {
        width: 200px;
        height: 200px;
        background-color: rgb(100, 82, 255);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 50px;
        color: white;
        text-transform: uppercase;
    }

    &__image-box {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 575.98px) {
            width: 100%;
        }
    }

    &__image{
        object-fit: cover;
        height: 100%;
    }

    &__data {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__row {
        width: 100%;
        display: flex;

        &:not(:last-child){
            margin-bottom: 10px;
        }

        
        @media only screen and (max-width: 575.98px) {
            flex-direction: column;
        }

        &-left {
            width: 50%;
            max-width: 200px;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 575.98px) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        
        &-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            
            @media only screen and (max-width: 575.98px) {
                width: 100%;
            }
        }
    }

    &__action {
        margin-left: auto;
        padding: 15px;
        align-self: flex-end;
        display: flex;
        align-items: center;

        & > *:not(:last-child){
            margin-right: 5px;
        }

    }
}