<div class="lists">
  <div class="list__container">
    <div class="search__container">
      <div class="search__group">
        <input type="text" 
              #input="ngModel" 
              [(ngModel)]="search" 
              (ngModelChange)="searchUser($event)"
              class="search__input mr-2"
              >
        <select [(ngModel)]="searchCategory" class="search__input" (change)="getFilteredUser()">
          <option value="name">filter by name</option>
          <option value="email">filter by email</option>
          <option value="city">filte by city</option>
        </select>
      </div>
      <a class="search__btn btn btn-secondary" routerLink="/register">add new account</a>
    </div>
    <div class="row d-flex">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th></th>
              <th>NAME</th>
              <th>PHONE NUMBER</th>
              <th>BIRTHDAY</th>
              <th>CITY</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <div class="initial-box" *ngIf="!user.imgUrl">{{getInitial(user.firstName) | uppercase}}{{getInitial(user.lastName) | uppercase}}</div>
                <img [src]="user.imgUrl" alt="profile picture" *ngIf="user.imgUrl" style="width:50px;">
              </td>
              <td class="d-flex flex-column">
                <span>{{user.firstName}} {{user.lastName}}</span>
                <span>{{user.email}}</span>
              </td>
              <td>{{user.phone}}</td>
              <td>{{user.birthday}}</td>
              <td>{{user.city}}</td>
              <td class="text-right">
                <div class="action-group">
                  <a class="btn btn-sm btn-secondary" routerLink="/detail/{{user._id}}">View</a>
                  <a class="btn btn-sm btn-secondary" routerLink="/edit/{{user._id}}">edit</a>
                  <a class="clickable" *ngIf="me.isAdmin" (click)="deleteUser(user)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="true" size="sm"></ngb-pagination>
    </div>

  </div>
</div>